@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
    padding: 0;
}
.nav-container {
    width:100%;
}

.container {
    max-width: 100%;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
background-image: url( "data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

.venue-card {
    border:none;
    border-radius: 20px;
    height: 440px;
}

.card-image-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
}

.card-image-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-card-image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.custom-button {
    background-color: $secondary;
    border: none;
    padding: 8px 50px;
    border-radius: 30px;
    color: #FFF;

    &:hover {
        text-decoration: underline;
    }
}

.search-bar {
    border: 2px solid $primary;
}

.search-container {
    max-width: 70%;
}

/* TYPOGRAPHY */

h1 {
    color: $primary;
    font-weight: 900;
}

h2 {
    color: $primary;
    font-weight: 600;
}

.nav-link {
    font-size: large;

    &:hover {
        text-decoration: underline;
    }
}

.underline-text {
    text-decoration: underline;
}



/* REACT CALENDAR */

.react-calendar {
    border-radius: 20px;
    box-shadow: 5px 5px 10px #888888;
    border:none;
    margin: auto;
    margin-bottom: 20px;
}

.calendar-header, .react-calendar__navigation__label__labelText {
    font-family: arkhand, sans-serif;
    color: $primary;
    font-size: large;
}

.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
    display: none;
}

.react-calendar__tile {
    font-family: arkhand, sans-serif;
    color: $primary;
    border-radius: 25%;
}

.react-calendar__tile:disabled {
    color: $primary;
    background-color: transparent;
}

.react-calendar__tile--now {
    background-color: rgba($secondary, 0.7);
}

.react-calendar__tile--active {
    color:#FFF;
    background-color: $primary;
}
.react-calendar__tile--rangeStart, .react-calendar__tile--rangeEnd .react-calendar__tile--hasActive{
    background-color: $primary;
}

.available-circle {
    width: 15px;
    height: 15px;
    background-color: $secondary;
    border-radius: 50%;
    margin: 5px auto;
  }
  
  /* Styles for unavailable circle */
  .unavailable-circle {
    width: 15px;
    height: 15px;
    background-color: $danger;
    border-radius: 50%;
    margin: 5px auto;
  }





/* MINI CARD */

.mini-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.mini-card a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mini-card-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 0;
}

.mini-card-text-container {
    display: flex;
    align-items: center;
}

.mini-card-img-container, .mini-card-img {
    max-height: 75px;
    max-width: 75px;
}

.mini-location {
    margin-bottom: 0;
}

/* FORMS */

.form-input {
    border-radius: 16px;
    padding: 10px 20px;
    border: 1px solid $primary;
}

.custom-modal-confirmation-button {
    margin: auto;

    &:hover{
        text-decoration: underline;
    }
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .collapse {
      max-width: max-content;
      margin-right: 2em;
    }
  }